# Tutorial Pandas

# Nova seção

In [ ]:
import pandas
pandas.__version__

'1.1.5'

pd é convenção!

In [ ]:
import pandas as pd

As duas estruturas principais do Pandas:

1) Dataframe - linhas e colunas. É uma classe. 

2) Séries - Uma coluna. Cada coluna do dataframe é uma série.

**Criando séries**

In [ ]:
pd.Series(['a', 'b', 'c', 'd'])

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
pd.Series(['a', 'b', 'c', 'd'], index= [1, 2, 3, 4], name='Testando')

1    a
2    b
3    c
4    d
Name: Testando, dtype: object

In [ ]:
s1 = pd.Series(['a', 'b', 'c', 'd'], index= [1, 2, 3, 4], name = 'name1')
s2 = pd.Series(['e', 'f', 'g', 'h'], index= [5, 6, 7, 8], name = 'name2')

Acima vemos uma série que acabou de ser criada. Onde a numeração é o 'Índice'(intrínseco) e as letras são os valores. Mas tb posso criar o índice: index. E o nome que eu quiser também!

**Criando dataframes**

In [ ]:
pd.DataFrame

pandas.core.frame.DataFrame

Posso criar um df através de uma séries

In [ ]:
pd.DataFrame([s1, s2]) #só coloquei o T para testar o transpor. veja o name que é o nome da coluna

         1    2    3    4    5    6    7    8
name1    a    b    c    d  NaN  NaN  NaN  NaN
name2  NaN  NaN  NaN  NaN    e    f    g    h

**Para ler um arquivo**

In [ ]:
#pd.read

**Importar Dados**

In [ ]:
testenome = pd.read_csv("/content/sample_data/california_housing_test.csv")

Acima criei o df.

Criar um arquivo de saída

In [ ]:
#testenome.to_csv()

**Visualização de Dados**

Diferença entre método e atributo. Atributo (+ estático) é como se fosse um valor.E uma função é uma ação de atribuir uma funcionalidade.
df.head() vai mostrar a cabeça, as 5 primeiras linhas

In [ ]:
testenome.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

df.tail() - mostra a cauda. as últimas

In [ ]:
testenome.tail()

      longitude  latitude  ...  median_income  median_house_value
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[5 rows x 9 columns]

Pegar o índice do df - método - index

In [ ]:
testenome.index

RangeIndex(start=0, stop=3000, step=1)

Ver as colunas

In [ ]:
testenome.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
testenome.columns.values

array(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'], dtype=object)

Describe - eles nos dá as informações descritivas dos dados

In [ ]:
testenome.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

Transpor os dados - inverter as linhas com colunas

In [ ]:
#testenome.T

In [ ]:
pd.DataFrame? #pedirajuda

**Selecionando Dados**

Selecionar as linhas q vc quer

In [ ]:
testenome[5:10]

   longitude  latitude  ...  median_income  median_house_value
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[5 rows x 9 columns]

Seleção pelo nome de uma coluna

In [ ]:
testenome['latitude']

0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

Acessar posições. loc (linhas, colunas)

In [ ]:
#covid.loc[1000:2000,["estado","municipio"]]
testenome.loc[1:2,['latitude','5']]

KeyError: ignored

iloc = pega a lina

In [ ]:
testenome.iloc[1000]

longitude               -119.7500
latitude                  34.4000
housing_median_age        31.0000
total_rooms             1997.0000
total_bedrooms           299.0000
population               826.0000
households               301.0000
median_income              6.8927
median_house_value    500001.0000
Name: 1000, dtype: float64

Busca pelo indice numero de linhas e numero de colunas

In [ ]:
testenome.iloc[30:50,2:4]

    housing_median_age  total_rooms
30                14.0       1195.0
31                34.0       1617.0
32                17.0       3442.0
33                 5.0      16181.0
34                38.0       1067.0
35                33.0       2886.0
36                52.0       1560.0
37                34.0       1478.0
38                31.0        894.0
39                11.0       5785.0
40                15.0       1562.0
41                16.0       2770.0
42                37.0       1980.0
43                36.0        848.0
44                48.0       1308.0
45                 4.0       9998.0
46                24.0       1212.0
47                47.0       1782.0
48                 6.0       1649.0
49                19.0       7399.0

Indexação Booleana
Aqui eu busco pelos números da coluna q eu esqueci

In [ ]:
testenome[testenome['latitude'] == 36.51]

      longitude  latitude  ...  median_income  median_house_value
5       -119.56     36.51  ...         1.6635             67000.0
1765    -119.56     36.51  ...         2.5033             70100.0

[2 rows x 9 columns]

In [ ]:
testenome[testenome['latitude'] > 36.51]

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
6       -121.43     38.63  ...         1.6641             67000.0
8       -122.84     38.40  ...         3.6696            194400.0
12      -121.93     37.25  ...         4.6900            252600.0
16      -120.81     37.53  ...         1.8750            181300.0
...         ...       ...  ...            ...                 ...
2983    -122.54     37.90  ...         4.4375            370000.0
2987    -121.97     37.29  ...         5.3294            300300.0
2988    -122.01     36.97  ...         2.5417            260900.0
2989    -122.02     37.60  ...         3.2386            149600.0
2992    -122.33     37.39  ...         6.2263            500001.0

[1236 rows x 9 columns]

Pegando intervalos numa coluna

In [ ]:
testenome[(testenome['latitude'] > 22) & (testenome['latitude'] < 42)]

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

Operações

Calcular a média

In [ ]:
testenome['population'].mean()

1402.7986666666666

In [ ]:
testenome['population'].value_counts() #quantidade de entradas em cada populacao

870.0     7
753.0     6
697.0     6
881.0     6
1211.0    6
         ..
1499.0    1
2994.0    1
2682.0    1
2703.0    1
49.0      1
Name: population, Length: 1802, dtype: int64

In [ ]:
testenome['latitude'].value_counts(normalize=True) #percentual

34.02    0.011667
34.06    0.011000
34.05    0.010667
34.09    0.010333
34.11    0.010333
           ...
38.72    0.000333
39.61    0.000333
36.93    0.000333
39.01    0.000333
38.05    0.000333
Name: latitude, Length: 587, dtype: float64

In [ ]:
chocolate = mto gostoso
print(chocolate)

SyntaxError: ignored